.root {
    -fx-font-family: "Segoe UI", Roboto, Arial;
    -fx-background-color: linear-gradient(to bottom right, #071126, #063a2e);
}

.title {
    -fx-text-fill: #e6fff3;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-padding: 20 0 10 0;
}

.card {
    -fx-background-color: rgba(255,255,255,0.06);
    -fx-padding: 18;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 10, 0, 0, 4);
    -fx-alignment: center;
}

TextField, PasswordField {
    -fx-min-width: 320px;
    -fx-pref-height: 36px;
    -fx-background-radius: 8;
}

Button {
    -fx-background-radius: 8;
    -fx-padding: 8 20 8 20;
    -fx-cursor: hand;
}
Label#statusLabel {
    -fx-text-fill: #ffd2d2;
    -fx-padding: 4 0 0 0;
}
